[MASTER]
ignore=.git

[pytest]
# one of PyTest dependencies raises warnings :-/
filterwarnings =
    ignore::DeprecationWarning

[MESSAGES CONTROL]
# (we have do disable "bad-continuation" because it's not compatible with the formatting applied by Black)
disable=missing-docstring,useless-import-alias,bad-continuation
